/* ESTILOS DEL MENU */
/* MENU AMBURQGUESA*/
.bmenu{
    width: 30px;
    height: 30px;
    position: relative;
    left: 245px;
    height: 5px;
    cursor: pointer;
    transform-origin: 0px 100%;
    transition: all 300ms;  
}
.bmenu span{
    display: block;
    width: 100%;
    height: 2%;
    margin-top: 6px;
}
/* BARRRA LATERAL */
.cont-menu{
    background-color: #000000;
    box-shadow: 0px 0px 9px rgb(66, 66, 66);
    width: 212px;
    height: 1px 10px;
    position:absolute;
    top:0;
    left: 0;
    transition: all .5s ease ; 
}
.cont-menu ul{
    padding:  0px 0px;
    list-style: none;
}
.cont-menu ul li{
    color: rgb(33, 209, 10);
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
#cr{
    color: rgb(219, 19, 19);
}
#cas{
    color: blue;
}
#cv{
    color: rgb(33, 209, 10);
}
#cm{
    color:rgb(167, 31, 194);
}
#cb{
    color:azure;
}
#cam{
    color: gold;
}

.active{
    transform: translate(-1100px);
}
.ocupacity{
    background-color: aqua;
    transition: all.5s ease;
}

 /* ESTILOS DE CALCULADORA */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,500;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
body{
    background-color: black;
   
}  
.container{ 
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    margin: 1 auto;
    width: 256 px;
    text-align: center;
    border: 10px solid #000000;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(33, 209, 10);
    
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}
.pantalla{
    height: 75px;
    width: 100%;
    background-color: #000000;
    border: none;
    color: rgb(33, 209, 10);
    text-align:right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}
#clear{
    grid-column: 1/3;
    grid-row: 1 ;
    color:#000000
}


#result{
    grid-column: 3/5;
    grid-row: 5; 
    color:#000000;
    
}

#backspace{
    color:#000000
}


button{
    margin: 3px;
    border: 1px solid rgb(33, 209, 10);
    border-radius: 15px;
    cursor: pointer;
    color:rgb(33, 209, 10);
    font-weight: 500;
    background:#000000 ;
}
button:hover{
  background:rgb(33, 209, 10) ;
  color: #000000 ;
}
input:focus
input:active
button:focus
button:active{
    outline: none;
}
.highlight{
    background: rgb(33, 209, 10);
    color: #000000;
}

/* texto  */
.rojo2{
    height: 75px;
    width: 100%;
    background-color: #000000;
    border: none;
    text-align:right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: red;
}
.color-azul2{
    height: 75px;
    width: 100%;
    background-color: #000000;
    border: none;
    text-align:right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(0, 0, 255);
}
.color-morado2{
    height: 75px;
    width: 100%;
    background-color: #000000;
    border: none;
    text-align:right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(167, 31, 194)
}
.color-blanco2{
    height: 75px;
    width: 100%;
    background-color: #000000;
    border: none;
    text-align:right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
}
.color-gold2{
    height: 75px;
    width: 100%;
    background-color: #000000;
    border: none;
    text-align:right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(255, 215, 0);
}


/* opciones aritmeticas */

.color-rojo{
    border: 1px solid rgb(219, 19, 19);
    color:rgb(0, 0, 0);
    background-color: rgb(219, 19, 19);    
}
.color-rojo:hover{
    border: 1px solid rgb(219, 19, 19);
    color:rgb(0, 0, 0);
    background-color: rgb(219, 19, 19); ;
}
.color-azul{ 
    border:1px solid rgb(0 , 0, 255);
    color:black;
    background-color: blue;
}
.color-azul:hover{
    border:1px solid rgb(0 , 0, 255);
    color:black;
    background-color: blue;
}
.color-morado{
    border:1px solid rgb(167, 31, 194);
    color: #000000;
    background-color:rgb(167, 31, 194);
}
.color-morado:hover{
    border:1px solid rgb(167, 31, 194);
    color: #000000;
    background-color: rgb(167, 31, 194);
}
.color-blanco{
    border:1px solid rgb(255, 255, 255);
    color:#000000;
    background-color: rgb(255, 255, 255);
}
.color-blanco:hover{
    border:1px solid rgb(255, 255, 255);
    color:#000000;
    background-color: rgb(255, 255, 255);
}
.color-gold{
    border:1px solid rgb(255, 215, 0);
    color:#000;
    background-color: rgb(255, 215, 0);
}
.color-gold:hover{
    border:1px solid rgb(255, 215, 0);
    color:#000;
    background-color: rgb(255, 215, 0);
}
/* numeros  */

.color-rojo1{
    border: 1px solid rgb(219, 19, 19);
    color:rgb(219, 19, 19);
}
.color-rojo1:hover{
    background-color:rgb(219, 19, 19) ;
    color: #000000;
}
.color-azul1{
    border:1px solid rgb(0 , 0, 255);
    color: rgb(0 , 0, 255);
}
.color-azul1:hover{
    background-color: rgb(0 , 0, 255);
    color:black;
}
.color-morado1{
    border:1px solid rgb(167, 31, 194);
    color:rgb(167, 31, 194);
}
.color-morado1:hover{
    background-color: rgb(167, 31, 194);
    color:black
}
.color-blanco1{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);;
}
.color-blanco1:hover{
    background-color: rgb(255, 255, 255);
    color:black
}
.color-gold1{
    border:1px rgb(255, 215, 0);
    color: rgb(255, 215, 0);;
}
.color-gold1:hover{
    background-color: rgb(255, 215, 0);
    color: #000;
}

/* box-shadow */
.container-rojo{ 
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    margin: 1 auto;
    width: 256 px;
    text-align: center;
    border: 10px solid #000000;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(219, 19, 19);
}
.container-azul{ 
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    margin: 1 auto;
    width: 256 px;
    text-align: center;
    border: 10px solid #000000;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(0 , 0, 255);
}
.container-morado{ 
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    margin: 1 auto;
    width: 256 px;
    text-align: center;
    border: 10px solid #000000;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(167, 31, 194)
}
.container-blanco{ 
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    margin: 1 auto;
    width: 256 px;
    text-align: center;
    border: 10px solid #000000;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);
}
.container-gold{ 
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    margin: 1 auto;
    width: 256 px;
    text-align: center;
    border: 10px solid #000000;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(255, 215, 0);
}



